# Virtual environments
markov_demo/
env/
ENV/
.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Streamlit cache
.streamlit/